## Python statistics essential training - 02_05_challenge

Standard imports

In [2]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [227]:
tb_df=pd.read_csv('tb.csv')

In [229]:
tb_df2 = tb_df.set_index(['country','year'])
tb_df2.head(20)

              m04  m514  m014  m1524  m2534  m3544  m4554  m5564  m65   mu  \
country year
AD      1989  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1990  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1991  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1992  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1993  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1994  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1996  NaN   NaN   0.0    0.0    0.0    4.0    1.0    0.0  0.0  NaN
        1997  NaN   NaN   0.0    0.0    1.0    2.0    2.0    1.0  6.0  NaN
        1998  NaN   NaN   0.0    0.0    0.0    1.0    0.0    0.0  0.0  NaN
        1999  NaN   NaN   0.0    0.0    0.0    1.0    1.0    0.0  0.0  NaN
        2000  NaN   NaN   0.0    0.0    1.0    0.0    0.0    0.0  0.0  NaN
        2001  NaN   NaN   0.0    NaN    NaN    2.0    1.0    NaN  NaN  NaN
        2002  NaN   NaN   0.0    0.0    0.0    1.0    0.0    0.0  0.0  NaN
        2003  NaN   NaN   0.0    0.0    0.0    1.0    2.0    0.0  0.0  NaN
        2004  NaN   NaN   0.0    0.0    0.0    1.0    1.0    0.0  0.0  NaN
        2005  0.0   0.0   0.0    0.0    1.0    1.0    0.0    0.0  0.0  0.0
        2006  0.0   0.0   0.0    1.0    1.0    2.0    0.0    1.0  1.0  0.0
        2007  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        2008  0.0   0.0   0.0    0.0    0.0    0.0    1.0    0.0  0.0  0.0
AE      1980  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN

              f04  f514  f014  f1524  f2534  f3544  f4554  f5564  f65   fu
country year
AD      1989  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1990  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1991  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1992  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1993  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1994  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1996  NaN   NaN   0.0    1.0    1.0    0.0    0.0    1.0  0.0  NaN
        1997  NaN   NaN   0.0    1.0    2.0    3.0    0.0    0.0  1.0  NaN
        1998  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        1999  NaN   NaN   0.0    0.0    0.0    1.0    0.0    0.0  0.0  NaN
        2000  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        2001  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN
        2002  NaN   NaN   0.0    1.0    0.0    0.0    0.0    0.0  0.0  NaN
        2003  NaN   NaN   0.0    1.0    1.0    1.0    0.0    0.0  0.0  NaN
        2004  NaN   NaN   0.0    0.0    1.0    0.0    0.0    0.0  0.0  NaN
        2005  0.0   0.0   0.0    1.0    1.0    1.0    0.0    0.0  0.0  0.0
        2006  0.0   0.0   0.0    0.0    1.0    0.0    1.0    0.0  0.0  0.0
        2007  NaN   NaN   NaN    NaN    1.0    NaN    1.0    NaN  NaN  NaN
        2008  0.0   0.0   0.0    0.0    0.0    1.0    1.0    0.0  0.0  0.0
AE      1980  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN

In [234]:
tb_df2.head()

              m04  m514  m014  m1524  m2534  m3544  m4554  m5564  m65  mu  \
country year
AD      1989  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1990  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1991  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1992  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1993  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN

              f04  f514  f014  f1524  f2534  f3544  f4554  f5564  f65  fu
country year
AD      1989  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1990  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1991  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1992  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
        1993  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN

In [231]:
tb_df3=tb_df2.drop(columns=['m014','f014'])
tb_df3=tb_df2

In [333]:
tb_df4 = tb_df3.drop(columns=['m014','f014'])
tb_df4.columns = multind
tb_df4.head(10)

sex            f                                               m              \
age          0-4 15-24 25-34 35-44 45-54 5-14 55-64  65+ NaN 0-4 15-24 25-34
country year
AD      1989 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1990 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1991 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1992 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1993 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1994 NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN NaN NaN   NaN   NaN
        1996 NaN   NaN   0.0   0.0   4.0  1.0   0.0  0.0 NaN NaN   NaN   1.0
        1997 NaN   NaN   0.0   1.0   2.0  2.0   1.0  6.0 NaN NaN   NaN   1.0
        1998 NaN   NaN   0.0   0.0   1.0  0.0   0.0  0.0 NaN NaN   NaN   NaN
        1999 NaN   NaN   0.0   0.0   1.0  1.0   0.0  0.0 NaN NaN   NaN   0.0

sex
age          35-44 45-54 5-14 55-64  65+ NaN
country year
AD      1989   NaN   NaN  NaN   NaN  NaN NaN
        1990   NaN   NaN  NaN   NaN  NaN NaN
        1991   NaN   NaN  NaN   NaN  NaN NaN
        1992   NaN   NaN  NaN   NaN  NaN NaN
        1993   NaN   NaN  NaN   NaN  NaN NaN
        1994   NaN   NaN  NaN   NaN  NaN NaN
        1996   1.0   0.0  0.0   1.0  0.0 NaN
        1997   2.0   3.0  0.0   0.0  1.0 NaN
        1998   NaN   NaN  NaN   NaN  NaN NaN
        1999   0.0   1.0  0.0   0.0  0.0 NaN

In [271]:
# Stack everything into MultiIndex for two reasons: This actually drops all missing values and allows for
# a simple formatting using reset_index
tb_df5=tb_df4.stack().stack()
tb_df5.head(20)

country  year  age    sex
AD       1996  25-34  f      1.0
                      m      0.0
               35-44  f      1.0
                      m      0.0
               45-54  f      0.0
                      m      4.0
               5-14   f      0.0
                      m      1.0
               55-64  f      1.0
                      m      0.0
               65+    f      0.0
                      m      0.0
         1997  25-34  f      1.0
                      m      0.0
               35-44  f      2.0
                      m      1.0
               45-54  f      3.0
                      m      2.0
               5-14   f      0.0
                      m      2.0
dtype: float64

In [272]:
tb_final = tb_df5.reset_index(name='cases').sort_values(by=['country','year'])
tb_final.head(20)

   country  year    age sex  cases
0       AD  1996  25-34   f    1.0
1       AD  1996  25-34   m    0.0
2       AD  1996  35-44   f    1.0
3       AD  1996  35-44   m    0.0
4       AD  1996  45-54   f    0.0
5       AD  1996  45-54   m    4.0
6       AD  1996   5-14   f    0.0
7       AD  1996   5-14   m    1.0
8       AD  1996  55-64   f    1.0
9       AD  1996  55-64   m    0.0
10      AD  1996    65+   f    0.0
11      AD  1996    65+   m    0.0
12      AD  1997  25-34   f    1.0
13      AD  1997  25-34   m    0.0
14      AD  1997  35-44   f    2.0
15      AD  1997  35-44   m    1.0
16      AD  1997  45-54   f    3.0
17      AD  1997  45-54   m    2.0
18      AD  1997   5-14   f    0.0
19      AD  1997   5-14   m    2.0

In [ ]:
final_df = pd.read_csv('final.csv')

In [322]:
final_df[final_df.age.isna()]

      country  year  age sex  cases
12         AD  1996  NaN   f    0.0
13         AD  1996  NaN   m    0.0
26         AD  1997  NaN   f    0.0
27         AD  1997  NaN   m    0.0
34         AD  1998  NaN   m    0.0
47         AD  1999  NaN   f    0.0
48         AD  1999  NaN   m    0.0
55         AD  2000  NaN   m    0.0
58         AD  2001  NaN   m    0.0
71         AD  2002  NaN   f    0.0
72         AD  2002  NaN   m    0.0
85         AD  2003  NaN   f    0.0
86         AD  2003  NaN   m    0.0
99         AD  2004  NaN   f    0.0
100        AD  2004  NaN   m    0.0
117        AD  2005  NaN   f    0.0
118        AD  2005  NaN   f    0.0
119        AD  2005  NaN   m    0.0
120        AD  2005  NaN   m    0.0
137        AD  2006  NaN   f    0.0
138        AD  2006  NaN   f    0.0
139        AD  2006  NaN   m    0.0
140        AD  2006  NaN   m    0.0
159        AD  2008  NaN   f    0.0
160        AD  2008  NaN   f    0.0
161        AD  2008  NaN   m    0.0
162        AD  2008  NaN   m    0.0
175        AE  1999  NaN   f    9.0
176        AE  1999  NaN   m    4.0
189        AE  2000  NaN   f    3.0
...       ...   ...  ...  ..    ...
35564     NaN  1995  NaN   f    5.0
35565     NaN  1995  NaN   m    0.0
35578     NaN  1996  NaN   f   17.0
35579     NaN  1996  NaN   m   16.0
35592     NaN  1997  NaN   f   23.0
35593     NaN  1997  NaN   m   18.0
35606     NaN  1998  NaN   f   34.0
35607     NaN  1998  NaN   m   21.0
35620     NaN  1999  NaN   f   25.0
35621     NaN  1999  NaN   m   20.0
35634     NaN  2000  NaN   f   16.0
35635     NaN  2000  NaN   m   18.0
35648     NaN  2001  NaN   f   32.0
35649     NaN  2001  NaN   m   20.0
35662     NaN  2002  NaN   f   42.0
35663     NaN  2002  NaN   m   19.0
35676     NaN  2003  NaN   f   47.0
35677     NaN  2003  NaN   m   31.0
35690     NaN  2004  NaN   f   30.0
35691     NaN  2004  NaN   m   31.0
35704     NaN  2005  NaN   f  105.0
35705     NaN  2005  NaN   m   98.0
35718     NaN  2006  NaN   f   74.0
35719     NaN  2006  NaN   m   86.0
35732     NaN  2007  NaN   f   69.0
35733     NaN  2007  NaN   m   57.0
35746     NaN  2008  NaN   f   73.0
35747     NaN  2008  NaN   f    0.0
35748     NaN  2008  NaN   m   30.0
35749     NaN  2008  NaN   m    0.0

[5304 rows x 5 columns]